/* 992px */
@media (max-width: 62em) {
    aside .card-desc {
        padding: 0.5em 1em;
    }
}

/* 892px */
@media (max-width: 55.75em) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 26em;
    }

    aside .card img {
        width: 10em;
    }
}

/* 700px */
@media (max-width: 44em) {
    .about {
        flex-wrap: wrap;
    }

    main {
        grid-column: 1/-1;
    }

    aside {
        grid-column: 1/-1;
    }

    .popular-post {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .archive {
        justify-content: center;
        align-items: center;
    }

    .social-media {
        justify-content: center;
        align-items: center;
    }
}